.captcha-container[data-v-3824a83a]{display:inline-block}.ant-table[data-v-9b556b22]{margin-top:16px}.logo[data-v-f01033bd]{display:flex;align-items:center;justify-content:center;color:#1890ff;font-weight:700}
